numpy
setuptools
tensorflow-gpu
six==1.10.0
Pillow
#==4.2.1
protobuf
requests
#2.14.2 # for downloading
pandas
#==0.20.3
Pillow
#==4.2.1
matplotlib
#==2.2.2
# and opencv => needs to compiled
#opencv => conda install -c conda-forge opencv
opencv-python
tensorboard
